.gray{
    background: #ededed !important;
}

.gris{
background: #d2d2d2;
}

.largeur{
    width: 100%;
    max-width: 15rem;
}

.cercle{
    width: 100%;
    max-width: 5rem;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;

    width: 90px;
    height: 100vh;

    overflow-y: auto;
}

.content{
    margin-left: 250px;
    width: calc(100% - 250px);
}